<!DOCTYPE html>
<html class="">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <title>{cms:config name="cms.title|htmlentities"/} - {cms:config name="cms.sitename|htmlentities"/}</title>
    <meta name="keywords" content="{cms:config name='cms.keywords|htmlentities'/}" />
    <meta name="description" content="{cms:config name='cms.description|htmlentities'/}" />

    <link rel="shortcut icon" href="__CDN__/assets/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" media="screen" href="__CDN__/assets/css/bootstrap.min.css?v={$site.version|htmlentities}" />
    <link rel="stylesheet" media="screen"
        href="__CDN__/assets/libs/font-awesome/css/font-awesome.min.css?v={$site.version|htmlentities}" />
    <link rel="stylesheet" media="screen"
        href="__CDN__/assets/libs/fastadmin-layer/dist/theme/default/layer.css?v={$site.version|htmlentities}" />
    <link rel="stylesheet" media="screen" href="__ADDON__/css/swiper.min.css?v={$site.version|htmlentities}">
    <link rel="stylesheet" media="screen" href="__ADDON__/css/share.min.css?v={$site.version|htmlentities}">
    <link rel="stylesheet" media="screen" href="__ADDON__/css/iconfont.css?v={$site.version|htmlentities}">
    <link rel="stylesheet" media="screen" href="__ADDON__/css/common.css?v={$site.version|htmlentities}" />

    <!--分享-->
    <meta property="og:title" content="{cms:config name='cms.title|htmlentities'/}" />
    <meta property="og:image" content="{cms:config name='cms.image|htmlentities'/}" />
    <meta property="og:description" content="{cms:config name='cms.description|htmlentities'/}" />

    {__STYLE__}

    {cms:block name="header" field="content" /}
</head>

<body class="group-page skin-white">

    <header class="header">
        <!-- S 导航 -->
        <nav class="navbar navbar-default navbar-white navbar-fixed-top" role="navigation">
            <div class="container">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle sidebar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="{$Think.config.cms.sitelogo|default='/assets/addons/cms/img/logo.png'|cdnurl}"
                            style="height:100%;" alt="">
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" data-current="{$__CHANNEL__.id|default=0}">
                        <!--如果你需要自定义NAV,可使用channellist标签来完成,这里只设置了2级,如果显示多级栏目,请使用cms:nav标签-->
                        {cms:channellist id="nav" type="top" condition="1=isnav"}
                        <!--判断是否有子级或高亮当前栏目-->
                        <li class="{if $nav.has_child}dropdown{/if} {if $nav->is_active} active{/if}">
                            <a href="{$nav.url|htmlentities}" {if $nav.has_child} data-toggle="dropdown"
                                {/if}>{$nav.name|htmlentities}{if $nav.has_nav_child} <b class="caret"></b>{/if}</a>
                            <ul class="dropdown-menu {if !$nav.has_nav_child}hidden{/if}" role="menu">
                                {cms:channellist id="sub" type="son" typeid="nav['id']" condition="1=isnav"}
                                <li class="{if $sub->is_active}active{/if}"><a
                                        href="{$sub.url|htmlentities}">{$sub.name|htmlentities}</a></li>
                                {/cms:channellist}
                            </ul>
                        </li>
                        {/cms:channellist}

                        <!--如果需要多级栏目请使用cms:nav标签-->
                        {//cms:nav maxlevel="4" cache="86400" /}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {if config('fastadmin.usercenter')}
                        {include file="common/userinfo"}
                        {/if}
                    </ul>
                </div>

            </div>
        </nav>
        <!-- E 导航 -->

    </header>

    <main class="main-content">
        {__CONTENT__}
    </main>

    <footer>
        <div id="footer">
            <div class="container">
                <div class="row footer-inner">
                    <div class="col-xs-12 text-center">
                        Copyright&nbsp;©&nbsp;{:date("Y")} {cms:config name="cms.sitename|htmlentities"/} All rights
                        reserved.
                        {cms:block name="beian" field="content" /}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <div id="floatbtn">
        <!-- S 浮动按钮 -->

        {if isset($config.wxapp)&&$config.wxapp}
        <a href="javascript:;">
            <i class="iconfont icon-wxapp"></i>
            <div class="floatbtn-wrapper">
                <div class="qrcode"><img src="{$config.wxapp|cdnurl|htmlentities}"></div>
                <p>微信小程序</p>
                <p>微信扫一扫体验</p>
            </div>
        </a>
        {/if}

        {if $config.qrcode}
        <a href="javascript:;">
            <i class="iconfont icon-qrcode"></i>
            <div class="floatbtn-wrapper">
                <div class="qrcode"><img src="{$config.qrcode|cdnurl|htmlentities}"></div>
                <p>微信公众账号</p>
                <p>微信扫一扫加关注</p>
            </div>
        </a>
        {/if}

        {if isset($__ARCHIVES__) && $__ARCHIVES__.iscomment}
        <a id="feedback" class="hover" href="#comments">
            <i class="iconfont icon-comment"></i>
            <em>发表<br>评论</em>
        </a>
        {/if}

        <a id="back-to-top" class="hover" href="javascript:;">
            <i class="iconfont icon-backtotop"></i>
            <em>返回<br>顶部</em>
        </a>
        <!-- E 浮动按钮 -->
    </div>


    <script type="text/javascript"
        src="__CDN__/assets/libs/jquery/dist/jquery.min.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript"
        src="__CDN__/assets/libs/bootstrap/dist/js/bootstrap.min.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript"
        src="__CDN__/assets/libs/fastadmin-layer/dist/layer.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript"
        src="__CDN__/assets/libs/art-template/dist/template-native.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript" src="__ADDON__/js/jquery.autocomplete.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript" src="__ADDON__/js/swiper.min.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript" src="__ADDON__/js/share.min.js?v={$site.version|htmlentities}"></script>
    <script type="text/javascript" src="__ADDON__/js/cms.js?v={$site.version|htmlentities}"></script>

    {if $isWechat}
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script>
    {/if}

    <script type="text/javascript" src="__ADDON__/js/common.js?v={$site.version|htmlentities}"></script>

    {__SCRIPT__}

    {cms:block name="footer" field="content" /}
</body>

</html>